# MongoDB Configuration
MONGODB_URI=mongodb+srv://erafaziramohd28:WWrmGnnTRtgfdAWx@cluster0.axtkp.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Environment
NODE_ENV=development

# WebSocket Configuration
VITE_WS_URL=wss://algo360fx-frontend.onrender.com

# API Configuration
VITE_API_URL=https://algo360fx-frontend.onrender.com

# Sentry Configuration
VITE_SENTRY_DSN=https://<key>@<org>.ingest.sentry.io/<project>
